#addform{
    margin-top: 5vh;
    width: 50vw;
    background-color: #363b46;
    border-radius: 20px;
    padding: 10px;
    line-height: calc(20px + 1vh);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
#addform img{
    margin: 10px auto;
    width: 40vw;
    height: 40vw;
    border-radius: 20px;
}
#addform span {
    background-color: #282C34;
    border-radius: 20px;
    padding: 2%;
}


@media (max-width: 650px) {
    #addform{
        flex-direction: column;
    }
}

#addform h3{
    text-align: center;
}
#addform label{
    text-align: left;
    padding-inline-start: 20px;
}
#addform input{
    width: 46vw;
    margin-left: -5px;
    background-color: white;
}
#addform > label > textarea{
    width: 46vw;
    align-self: first baseline;
    vertical-align: top;
    margin-left: -5px;
    width: 46vw;
    height: 10vh;
    overflow-x: auto;
    border-radius: 10px;
}
#addform button{
    background-color: black;
    color: white;
    border-radius: 20px;
    display: inline-block;
}
#addform a button{
    width: 50vw;
}
