#locContainer{
    display: flex;
}
.dropZones{
    width: 12vw;
    margin: 0.5vw;
    border: 2px solid darkslateblue;
    border-radius: 10px;
}
#locContainer p {
    text-align: center; 
}
.itemContainer{
    justify-items: center;
    border: 2px solid darkcyan;
    border-radius: 10px;
}
.itemContainer:hover{
    border: 2px dashed darkcyan;
}

.itemContainer img{
    width: 10vw;
}
.itemContainer p{
    font-size:xx-small;
    text-align: center;
}