#NavBar {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100vw;
    height: 10vh;
    background-color: #363b46;
    align-content: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#NavBar p a {
    color: white;
    font-size: larger;
    padding-inline: 3vw;
    text-decoration: none;
    padding-top: 15px;
    padding-bottom: 25px; 
    /**/
}
a:hover{
    background-color: #444a56;
}
@media (max-width: 485px) {
    #NavBar{
        height:fit-content;
        flex-wrap: wrap;
    }
}
